/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */
body {
  width: 390px;
  margin: auto;
}

header div {
  width: 390px;
  height: 44px;
  background-color: #4c4c4c;
  margin-bottom: 16px;
  position: fixed;
  top: 0;
  z-index: 10;
}

main {
  margin-top: 60px;
}

.background {
  margin: auto;
  width: 360px;
  height: 205px;
  background-image: url("../img/image.webp");
  margin-bottom: 30px;
  background-size: cover;
  position: relative;
}

.bloc-1 {
  width: 44px;
  height: 44px;
  background-color: #d8d8d8;
  position: absolute;
  top: 15px;
  right: 15px;
}

.bloc-2 {
  background: #e00000;
  width: 40px;
  height: 80px;
  position: absolute;
  top: 80px;
  left: -20px;
}

.bloc-3 {
  opacity: 0.58;
  background: #d8d8d8;
  width: 100%;
  height: 44px;
  position: absolute;
  bottom: 0;
}

.bloc-4 {
  opacity: 0.58;
  background: #d8d8d8;
  width: 320px;
  height: 165px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  width: 80px;
  height: 20px;
  justify-content: space-between;
  position: absolute;
  top: 15px;
  left: 15px;
}

.lilbloc {
  width: 20px;
  height: 20px;
  background: #d8d8d8;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc-5 {
  background: #d8d8d8;
  width: 71px;
  height: 44px;
}

.litle {
  width: 175px;
  height: 103px;
  margin: 0;
}

.background-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 15px;
}

.bloc-6 {
  opacity: 0.7;
  background: #d8d8d8;
  width: 175px;
  height: 44px;
  position: absolute;
  bottom: 0;
}

.round-container {
  margin: 38px 15px 15px;
  display: flex;
  width: 360px;
  justify-content: flex-end;
}

.round {
  width: 44px;
  height: 44px;
  background: #e00000;
  border-radius: 50%;
}
